@model BugTrackingSystem.ViewModels.IndexViewModel

<div class="container text-center">
    <h1>@Model.WelcomeMessage</h1>
    <button class="btn btn-primary btn-lg mt-4" onclick="handleReportProblem()">Report a Problem</button>
    <button class="btn btn-secondary btn-lg mt-4 ms-2" onclick="window.location.href='/BugReport/List'">View Tickets</button>
</div>

<script>
    function handleReportProblem() {
        const isLoggedIn = @Model.IsUserLoggedIn.ToString().ToLower();
        if (isLoggedIn) {
            window.location.href = '/BugReport/Create';
        } else {
            window.location.href = '/Identity/Account/Login';
        }
    }
</script>