@page
@model BugTrackingSystem.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container text-center">
    <h1>@Model.ViewModel.WelcomeMessage</h1>
    <button class="btn btn-primary btn-lg mt-4" onclick="handleReportProblem()">Report a Problem</button>
</div>

<script>
    function handleReportProblem() {
        const isLoggedIn = @Model.ViewModel.IsUserLoggedIn.ToString().ToLower();
        if (isLoggedIn) {
            window.location.href = '/CreateTicket';
        } else {
            window.location.href = '/Identity/Account/Login';
        }
    }
</script>   