@{
    ViewData["Title"] = "Nomenclature";
}

<div class="container">
    <h1>Nomenclature Management</h1>
    <div class="btn-group mt-4" role="group">
        <button class="btn btn-info btn-lg mt-4 ms-2" onclick="window.location.href='/User/List'">Users</button>
        <button class="btn btn-info btn-lg mt-4 ms-2" onclick="window.location.href='/Application/List'">Applications</button>
        <!-- Add more buttons for other nomenclatures as needed -->
    </div>
</div>